body{
	background-color: black;
}
h1{
	text-align:center ;
	font-family: Verdana;
	font-size: 50px;
	color: white;
	font-weight: normal;
}
a{
	color: white;
	text-align: center;
	color: Aquamarine;
}
p{
	text-align: center;
}
article{
	font-family: Verdana;
	font-weight: 300;
	font-size: 42px;
	color: white;
	text-align: center;
}
#interest{
	font-family: Verdana;
	font-size: 21px;
	color: gray;
}
img[src*='camp']{
	display: block;
	margin: auto;

}
img[src*='phone']{
	display: block;
	margin: auto;
}
.soon{
	text-align:center ;
	font-family: Verdana;
	font-size: 40px;
	color: white;
	font-weight: normal;
}
footer{
	color: Gray;
	text-align: right;
}